{
	"outputOnConsole":false,
	"scripts":
		[
			{
				"name": "test1 script",
				"description": "This is for testing",
				"URL": "/test1.js"
			},
      {
				"name": "test2 script",
				"description": "This is a second script valid for all configurations",
				"URL": "/test1.js",
        "trigger": "(set_test1 == true) || (set_all == true)"
			}
		],
	"stylesheets":
		[
			{
				"name": "test1 stylesheet",
				"description": "This is for testing",
				"URL": "/test1.css"
			}
		]
}